<form action="{{ path('recherche') }}" method="POST" class="navbar-form form-search pull-right">
    {{ form_widget(form.motCle) }}
    <button type="submit" class="btn">{{ 'produits.aucun_un_article_panier'|trans({}, 'EcommerceBundle') }}</button>
    {{ form_widget(form) }}
</form>