<div class="col-sm-3">

    <div class="list-group">
        <a href="{{ path('admin_produits_index') }}" class="list-group-item">Produits</a>
        <a href="ajout-edit.php" class="list-group-item">Catégories produits</a>
    </div>

    <div class="list-group">
        <a href="ajout-edit.php" class="list-group-item">Clients</a>
        <a href="ajout-edit.php" class="list-group-item">Commandes</a>
    </div>

    <div class="list-group">
        <a href="{{ path('admin_pages_index') }}" class="list-group-item">Pages</a>

    </div>

</div>