{% extends ':layout:layoutAdmin.html.twig' %}

{% block body %}
    <h2>Pages creation</h2>
    <div class="col-sm-12">
        Pages creation
    </div>
    <div class="col-sm-12">
        <a href="{{ path('admin_pages_index') }}" class="btn btn-primary">
            <i class="icon-chevron-left"></i>
            Retour
        </a>
    </div>
{% endblock %}