{% extends "layout/layout.html.twig" %}

{% block body %}

    <div class="container">
    <div class="row">
        <div class="span12">
            <h2>Livraison</h2>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="span8 offset2">

                        <form action="{{ path('searchElastica') }}" method="POST">
                            {{ form_widget(articleSearchForm) }}
                        </form>
                    </div>
                    {{ dump(results) }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}