<div class="well">
    <ul class="nav nav-list">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li>
                <a href="{{ path('fos_user_profile_show') }}">Mes informations</a>
            </li>
            <li>
                <a href="{{ path('fos_user_profile_edit') }}">Editer mes informations</a>
            </li>
            <li>
                <a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
            </li>
            <li>
                <a href="#">Mes factures</a>
            </li>
            <li>
                <a href="#">Mes adresses</a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">deconnexion</a>
            </li>
        {% else %}
           {% include '@User/Default/modulesUsed/layout/utilisateurs.html.twig' %}
        {% endif %}

    </ul>
</div>
